# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large files
data/raw/*.csv
!data/raw/.gitkeep
models/*.pkl
!models/.gitkeep
